@use "../base/colors";
@use "../base/typography";

.calculator {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 4rem;

  &__header {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
  }

  &__heading {
    font-size: 2.4rem;
    line-height: 125%;
    font-weight: typography.$Bold;
    color: colors.$Slate-900;
  }

  &__clear-btn {
    font-family: inherit;
    font-weight: inherit;
    font-size: 1.6rem;
    line-height: 150%;
    border: none;
    background-color: colors.$White;
    color: colors.$Slate-700;
    text-decoration: underline;
    cursor: pointer;
  }
}
